body {
   background-color: #ECEFCA;
}

h1 ,h3{
    color: #547792;
    text-align: center;
}

p ,li{
    color: #94B4C1;
    font-size: 20px;
    text-align: center;
    list-style: none!important;
}


image {
    background-color: #213448;
}